---
import Component from "@components/utils/renderBlock.astro";
import { slugifyLabel } from "@components/utils/slugify";
import Image from "@core-elements/image/Image.astro";
import Video from "@core-elements/video/Video.astro";

const {
  label,
  contentSections,
  maxContentWidth,
  paddingHorizontal,
  paddingVertical = "4xl",
  colorScheme = "inherit",
  lockColorScheme = false,
  backgroundColor,
  contentBackground = false,
  verticalOffset = {
    size: "",
    direction: "",
  },
  background,
  rounded = false,
  useDefaultEditableBinding = false,
  contentClass = "",
  class: className,
  style: userStyle,
  _component,
  "data-children-prop": childrenDataProp,
  ...htmlAttributes
} = Astro.props;

const {
  type: bgType = "image",
  positionVertical = "top",
  positionHorizontal = "center",
  priority = false,
  imageSource = "",
  imageAlt = "",
  videoSource = "",
  overlay = 0,
} = background || {};

if (!htmlAttributes.id && label) {
  htmlAttributes.id = slugifyLabel(label);
}

const hasContentSections = contentSections !== undefined;
const effectiveChildrenProp =
  childrenDataProp ?? (useDefaultEditableBinding ? "contentSections" : null);
const arrayDataAttributes =
  effectiveChildrenProp && hasContentSections
    ? { "data-editable": "array", "data-prop": effectiveChildrenProp }
    : {};
---

<section
  class:list={["custom-section", className]}
  style={userStyle || undefined}
  {...htmlAttributes}
>
  <div
    class:list={[
      "outer-content",
      contentClass,
      rounded && "rounded",
      verticalOffset?.direction && `pull-up pull-up-${verticalOffset.direction}`,
    ]}
    data-theme={colorScheme && colorScheme !== "inherit" ? colorScheme : undefined}
    style={`--pull-up: var(--spacing-${verticalOffset.size})`}
    data-theme-lock={lockColorScheme || undefined}
  >
    {
      bgType === "image" && (
        <Image
          class:list={["background-image"]}
          source={imageSource}
          alt={imageAlt}
          priority={priority}
          positionVertical={positionVertical}
          positionHorizontal={positionHorizontal}
          background={true}
        />
      )
    }
    {
      bgType === "video" && (
        <Video
          type="local-source"
          source={videoSource}
          background={true}
          style={{ "--background-position": `${positionHorizontal} ${positionVertical}` }}
        />
      )
    }
    {
      overlay !== 0 && (
        <div
          class="background-overlay"
          aria-hidden="true"
          style={{
            backgroundColor: `rgba(${overlay < 0 ? "0, 0, 0" : "255, 255, 255"}, ${Math.abs(overlay)})`,
          }}
        />
      )
    }
    {
      backgroundColor && (
        <div class:list={["background", backgroundColor && `bg-${backgroundColor}`]} />
      )
    }
    {
      contentBackground && (
        <div
          class="radial-background-wrapper"
          aria-hidden="true"
        >
          <div
            class="radial-background"
            style={`--max-width: var(--content-width-${maxContentWidth || "3xl"})`}
          />
        </div>
      )
    }

    <div
      class:list={[
        "content",
        paddingHorizontal && `pad-x-${paddingHorizontal}`,
        paddingVertical && `pad-y-${paddingVertical}`,
        maxContentWidth && `max-width-${maxContentWidth}`,
      ]}
      {...arrayDataAttributes}
    >
      <slot>
        {
          contentSections && (
            <Component
              contentSections={contentSections}
              useDefaultEditableBinding={!!effectiveChildrenProp}
            />
          )
        }
      </slot>
    </div>
  </div>
</section>

<style is:global>
  @layer components {
    .custom-section {
      position: relative;

      .outer-content {
        &.pull-up {
          padding-top: var(--pull-up);
          margin-top: calc(var(--pull-up) * -1);

          &.pull-up-front {
            z-index: var(--layer-1);
          }
        }
      }

      > .outer-content {
        height: 100%;
        max-width: 100%;
        position: relative;

        &.rounded {
          border-radius: var(--radius-3xl);
          overflow: hidden;
        }

        .radial-background-wrapper {
          height: 100%;
          inset: 0;
          overflow: hidden;
          pointer-events: none;
          position: absolute;
        }

        .radial-background {
          aspect-ratio: 1 / 1;
          background: radial-gradient(
            ellipse at 50% 50%,
            var(--color-bg) 0%,
            var(--color-bg) 40%,
            transparent 80%
          );
          height: 100%;
          left: 50%;
          pointer-events: none;
          position: absolute;
          top: 0;
          transform: translateX(-50%);
          width: calc(var(--max-width) + 50%);
        }

        > .content {
          container-type: inline-size;
          height: 100%;
          margin-inline: auto;
          position: relative;
          z-index: var(--layer-1);

          > *:first-child:not(.pull-up) {
            margin-top: 0 !important;
          }

          > editable-array > editable-array-item:first-child > *:first-child:not(.pull-up) {
            margin-top: 0 !important;
          }
          > *:last-child {
            margin-bottom: 0 !important;
          }

          &.pad-x-xs {
            padding-inline: var(--spacing-xs);
          }

          &.pad-x-sm {
            padding-inline: var(--spacing-sm);
          }

          &.pad-x-md {
            padding-inline: var(--spacing-md);
          }

          &.pad-x-lg {
            padding-inline: var(--spacing-lg);
          }

          &.pad-x-xl {
            padding-inline: var(--spacing-xl);
          }

          &.pad-x-2xl {
            padding-inline: var(--spacing-2xl);
          }

          &.pad-x-3xl {
            padding-inline: var(--spacing-3xl);
          }

          &.pad-x-4xl {
            padding-inline: var(--spacing-4xl);
          }

          &.pad-x-5xl {
            padding-inline: var(--spacing-5xl);
          }

          &.pad-x-6xl {
            padding-inline: var(--spacing-6xl);
          }

          &.pad-y-xs {
            padding-block: var(--spacing-xs);
          }

          &.pad-y-sm {
            padding-block: var(--spacing-sm);
          }

          &.pad-y-md {
            padding-block: var(--spacing-md);
          }

          &.pad-y-lg {
            padding-block: var(--spacing-lg);
          }

          &.pad-y-xl {
            padding-block: var(--spacing-xl);
          }

          &.pad-y-2xl {
            padding-block: var(--spacing-2xl);
          }

          &.pad-y-3xl {
            padding-block: var(--spacing-3xl);
          }

          &.pad-y-4xl {
            padding-block: var(--spacing-4xl);
          }

          &.pad-y-5xl {
            padding-block: var(--spacing-5xl);
          }

          &.pad-y-6xl {
            padding-block: var(--spacing-6xl);
          }

          @media (width < 640px) {
            &.pad-y-xs {
              padding-block: var(--spacing-xs);
            }

            &.pad-y-sm {
              padding-block: var(--spacing-xs);
            }

            &.pad-y-md {
              padding-block: var(--spacing-sm);
            }

            &.pad-y-lg {
              padding-block: var(--spacing-md);
            }

            &.pad-y-xl {
              padding-block: var(--spacing-md);
            }

            &.pad-y-2xl {
              padding-block: var(--spacing-lg);
            }

            &.pad-y-3xl {
              padding-block: var(--spacing-xl);
            }

            &.pad-y-4xl {
              padding-block: var(--spacing-2xl);
            }

            &.pad-y-5xl {
              padding-block: var(--spacing-3xl);
            }

            &.pad-y-6xl {
              padding-block: var(--spacing-4xl);
            }
          }

          &.max-width-none {
            max-width: none;
          }

          &.max-width-xs {
            max-width: var(--content-width-xs);
          }

          &.max-width-sm {
            max-width: var(--content-width-sm);
          }

          &.max-width-md {
            max-width: var(--content-width-md);
          }

          &.max-width-lg {
            max-width: var(--content-width-lg);
          }

          &.max-width-xl {
            max-width: var(--content-width-xl);
          }

          &.max-width-2xl {
            max-width: var(--content-width-2xl);
          }

          &.max-width-3xl {
            max-width: var(--content-width-3xl);
          }
        }

        > .background-overlay {
          inset: 0;
          position: absolute;
          z-index: var(--layer-1);
        }

        > .background {
          inset: 0;
          position: absolute;
        }

        > .background-image {
          z-index: var(--layer-1);
        }

        > .background-video {
          z-index: var(--layer-1);
        }

        > .bg-base {
          background-color: var(--color-bg);
        }

        > .bg-surface {
          background-color: var(--color-bg-surface);
        }

        > .bg-accent {
          background-color: var(--color-bg-accent);
        }

        > .bg-highlight {
          background-color: var(--color-bg-highlight);
        }

        > .bg-highlight-grid {
          --grid-size: 32px;
          --line: var(--color-bg-highlight);
          background-color: transparent;
          background-image:
            linear-gradient(to right, var(--line) 1px, transparent 1px),
            linear-gradient(to bottom, var(--line) 1px, transparent 1px);
          background-position: calc(var(--grid-size) / 2) calc(var(--grid-size) / 2);
          background-size: var(--grid-size) var(--grid-size);
          opacity: 0.4;
        }

        > .bg-highlight-linear-gradient {
          background: linear-gradient(
            360deg,
            var(--color-bg-surface) 0%,
            var(--color-bg-highlight) 100%
          );
        }

        > .bg-brand-linear-gradient-reverse {
          background: linear-gradient(
            360deg,
            var(--color-bg-brand) 0%,
            var(--color-bg-inverse) 100%
          );
        }

        > .bg-brand-linear-gradient {
          background: linear-gradient(
            360deg,
            var(--color-bg-inverse) 0%,
            var(--color-bg-brand) 100%
          );
        }

        > .bg-brand-linear-gradient-muted {
          background: linear-gradient(
            360deg,
            var(--color-bg-inverse-muted) 0%,
            var(--color-bg-brand-muted) 100%
          );
        }

        > .bg-surface-linear-gradient {
          background: linear-gradient(360deg, var(--color-bg) 0%, var(--color-bg-surface) 100%);
        }

        > .bg-highlight-radial-gradient {
          background:
            radial-gradient(circle at 65% 40%, var(--color-bg-surface) 0%, transparent 30%),
            radial-gradient(
              20% 100% at 70% 120%,
              color-mix(in oklab, var(--color-bg-inverse-highlight) 50%, transparent) 0%,
              transparent 100%
            ),
            radial-gradient(
              40% 120% at 0% 0%,
              var(--color-bg-muted) 0%,
              var(--color-bg-muted) 10%,
              color-mix(in oklab, var(--color-bg-muted) 85%, var(--color-bg-highlight)) 25%,
              color-mix(in oklab, var(--color-bg-muted) 60%, var(--color-bg-highlight)) 40%,
              transparent 100%
            ),
            radial-gradient(20% 50% at 40% 0%, var(--color-bg-highlight) 0%, transparent 100%),
            radial-gradient(
              20% 100% at 30% 120%,
              color-mix(in oklab, var(--color-bg-inverse-highlight) 35%, transparent) 0%,
              transparent 100%
            ),
            linear-gradient(
              to right,
              color-mix(in oklab, var(--color-bg-inverse-muted) 80%, var(--color-bg-muted)) 0%,
              var(--color-bg-muted) 80%,
              var(--color-bg-muted) 100%
            );
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
</style>
